@import '../../styles/variables';

.container {
  padding: 0 40px;
  @media screen and (max-width: $mobile-breakpoint) {
    padding: 0;
  }
}

.pageContent {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 24px;
  

  @media screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }
}
