.requirementList {
  border: 1px solid var(--background-secondary);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.asteric {
  color: var(--color-primary);
}

.icon {
  margin-right: 5px;
  color: var(--background-success);
}
