@import '../../../styles/variables';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  width: 100%;
  gap: 24px;

  @media screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }
}

.threeRowGrid {
  @extend .grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }
}
