.changePassword {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: right;
  border: 2px solid var(--background-secondary);
}

.headText {
  background: var(--background-secondary);
  padding: 20px;
  border-radius: 5px;
  font-size: large;
  width: 100%;
}

.header {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 20px;
  background: var(--text-primary);
  color: var(--text-white);
}
